.container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.container div {
  display: inline-block;
  border: 2px solid rgba(var(--foreground-rgb), 0.7);
  border-radius: 1rem;
  line-height: 1.6rem;
  padding: 1px 10px;
  color: rgba(var(--foreground-rgb), 0.7);
  cursor: pointer;
  transition: all 0.2s;
  margin-top: 1rem;
}

.container div:hover {
  color: rgba(var(--foreground-rgb), 1);
  border: 2px solid rgba(var(--foreground-rgb), 1);
  transition: all 0.2s;
  font-weight: bold;
}

.container div:not(:last-child) {
  margin-right: 1rem;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade_in {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.title {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  justify-content: center;
  margin-top: 2rem;
}
